 @import url('https://fonts.googleapis.com/css?family=Comfortaa');
.h1{
    font-family: 'Comfortaa', cursive;
    background-image: url("pics/Nirvana_logo_yellow.svg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 300px;
    text-align: center;
}
.hp1{
    display: flex;
    font-size: 50px;
    color: white;
   margin: auto;
}
.str{
    font-size: 25px;
    color: white;
    margin: 20px;
    border: 5px inset white;
    border-radius: 20px;
    }
.hp2{
    display: flex;
    font-size: 50px;
    color: white;
   margin: auto;
}
.str2{
    font-size: 25px;
    color: white;
    margin: 20px;
    border: 5px inset white;
    border-radius: 20px;
    }
.hp3{
    display: flex;
    font-size: 50px;
    color: white;
   margin: auto;
}
.str3{
    font-size: 25px;
    color: white;
    margin: 20px;
    border: 5px inset white;
    border-radius: 20px;
    }
    .f1{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    background-color: darkslateblue;
    width: 100%;
    height: 100px;
    background-color: black;
    color: #fafa9d;
}
.h2{
    font-family: 'Comfortaa', cursive;
    background-image: url("pics/Nirvana_logo_yellow.svg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 300px;
    text-align: center;
}
    .f2{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    background-color: darkslateblue;
    width: 100%;
    height: 100px;
    background-color: black;
    color: #fafa9d;
}
.h3{
    font-family: 'Comfortaa', cursive;
    background-image: url("pics/Nirvana_logo_yellow.svg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 300px;
    text-align: center;
}
.f3{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    background-color: darkslateblue;
    width: 100%;
    height: 100px;
    background-color: black;
    color: #fafa9d;
}
.mi{
    width: 940px;
    height: 632px;
    background-image: url("pics/b65aadecfb164263ac15044f4d43a914.jpeg");
    margin-top: auto;
    }
.mp{
     font-family: 'Comfortaa', cursive;
    font-size: 50px;
    margin: auto;
}
.m1{
    height: 700px;
    width: 100%;
    background-color: #fafa9d;
    margin-top: 0;
}
.m2{
    height: 6200px;
    width: 100%;
    margin: auto;
    background-color: #fafa9d;
    margin-top: 0;
}
.bio{
    font-size: 30px;
     font-family: 'Comfortaa', cursive;
    margin-top: 0;
}
.m3{
    height: 1500px;
    width: 100%;
    margin: auto;
    background-color: #fafa9d;
}
.kb1{
    background-image: url("pics/uzn_15227511596.jpg");
    width: 560px;
    height: 330px;
    background-size: contain;
}
.kb2{
    background-image: url("pics/photo-Kurt-Cobain-3-590x472.jpg");
    width: 590px;
    height: 472px;
    background-size: contain;
}
.kb3{
    background-image: url("pics/%5C/nirvana.jpg");
    width: 1033px;
    height: 700px;
    background-size: contain;
}
.kb4{
    background-image: url("pics/04102016-kurt-01.jpg");
    width: 640px;
    height: 425px;
    background-size: contain;
}
.kb5{
    background-image: url("pics/659x661_1_c14b19c6f93c5a54e2f4db50a992179a@659x661_0xac120005_3937332541529042710.jpg");
    width: 659px;
    height: 661px;
    background-size: contain;
}
.kb6{
    background-image: url("pics/kurt-kobeyn-foto-s-mesta-smerti-1994-1526393039.jpg");
    width: 560px;
    height: 330px;
    background-size: contain;
}